<IfModule mod_rewrite.c>
    RewriteEngine On

    # Redirecionar para a dashboard quando acessar /painel
    RewriteRule ^painel$ painel/dashboard.php [L]

    # Redirecionar qualquer arquivo inexistente para index.php
    RewriteCond %{REQUEST_FILENAME} !-f
    RewriteCond %{REQUEST_FILENAME} !-d
    RewriteRule . index.php [L]
</IfModule>
